@import 'variables';

@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background-color;
    font-family: "cormorant", "inter", sans-serif;
}

#instruction-text {
  color: $primary-color;
  margin: 2rem;
}

.header {
  margin: 1.9rem;
  display: flex;
  justify-content: space-between;
  color: $primary-color;
  margin-bottom: 3.5rem;

  .header__title {
    font: $title-font;
    font-size: 1.3rem;
    &--alt-color {
      color: $secondary-color;
    }
  }

  .header__rectangle-1 {
    width: 1.56rem;
    height: 0.06rem;
    background: #ffffff;
    margin-bottom: 0.2rem;
  }

  .header__rectangle-2 {
    width: 1.13rem;
    height: 0.06rem;
    background: #ffffff;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__menu-alternative {
    display: none;
  }
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;

    .main__game-window {
      position: relative;
    }
  
    .main__game-background {
        width: 22rem;
        height: auto;
        z-index: 1;
    }

    .main__game-background-container {
        display: flex;
        justify-content: center;
        z-index: 1;
    }

    .main__game-floor-container {
        display: flex;
        justify-content: center;
    }

    .main__game-floor {
        width: 22rem;
    }

    .main__character-container {
      display: flex;
      justify-content: center;
      z-index: 2;
      position: absolute;
      bottom: 33.5%;
      left: 25%;
    }

    .main__game-character {
      width: 5rem;
      height: auto;
      z-index: 2;
      position: fixed;
      background-color: transparent;   
      image-rendering: pixelated; 
      display: none;

    }

    .main__obstacle-container {
      display: flex;
      justify-content: center;
      z-index: 2;
      position: absolute;
      left: 120%;
      image-rendering: pixelated; 

      &--0 {
        bottom: 22.5%;
      }
      
      &--1 {
        bottom: 33.6%;
      }

      &--2 {
        bottom: 21.5%;
      }

      &--3 {
        bottom: 16.7%;
      }

      &--4 {
        bottom: 23%;
      }

      &--5 {
        bottom: 22.5%;
      }
    }

    .main__game-obstacle {
      width: 5rem;
      height: auto;
      z-index: 2;
      position: fixed;
      background-color: transparent;    
      display: none;
    }

    .main__obstacle-hider {
      width: 100%;
      height: 24.5rem;
      background-color: $background-color;
      z-index: 3;
    }

    .main__point-counter {
      display: flex;
      justify-content: center;
      z-index: 2;
      position: absolute;
      left: 70%;
      bottom: 90%;
      background-color: transparent;
      color: yellow;
      font-weight: bold;
      font-family: sans-serif;
    }

    .main__game-over-screen {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 30%;
    }

    .main__play-retry-button {
      height: 2rem;
      width: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      color: rgb(255, 0, 0);
      background-color: rgb(16, 214, 16);
      z-index: 4;
      font-family: sans-serif;
    }
}

#animate-jump {
  animation: jump 600ms infinite;
}

#animate-obstacle {
  animation: travel-left 1000ms infinite;
}

@keyframes jump {
  0%{bottom: 33.5%}
  30%{bottom: 55.5%}
  70%{bottom: 55.5%}
  100%{bottom: 33.5%} 
}

@keyframes travel-left {
  0%{left: 120%}
  13%{left: 100%}
  26%{left: 80%}
  39%{left: 60%}
  52%{left: 40%}
  65%{left: 20%}
  78%{left: 0%}
  100%{left: -20%}

}

@media screen and (min-width: 768px) {
    .main {
      display: flex;
      justify-content: center;
      align-items: center;

      .main__game-window {
        position: relative;
      }
    
      .main__game-background {
          width: 28rem;
          height: auto;
          z-index: 1;
      }

      .main__game-background-container {
          display: flex;
          justify-content: center;
          z-index: 1;
      }

      .main__game-floor-container {
          display: flex;
          justify-content: center;
      }

      .main__game-floor {
          width: 28rem;
      }

      .main__character-container {
        display: flex;
        justify-content: center;
        z-index: 2;
        position: absolute;
        bottom: 33.5%;
        left: 25%;
      }

      .main__game-character {
        width: 6.36rem;
        height: auto;
        z-index: 2;
        position: fixed;

      }

      .main__obstacle-container {
        display: flex;
        justify-content: center;
        left: 120%;

        &--0 {
          bottom: 22.5%;
        }
        
        &--1 {
          bottom: 33.6%;
        }

        &--2 {
          bottom: 21.5%;
        }

        &--3 {
          bottom: 16.7%;
        }

        &--4 {
          bottom: 23%;
        }

        &--5 {
          bottom: 22.5%;
        }
      }

      .main__game-obstacle {
        width: 6.36rem;
        height: auto;
      }
    }
}