@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2c2a2a;
  font-family: "cormorant", "inter", sans-serif;
}

.header {
  margin: 1.9rem;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 3.5rem;
}
.header .header__title {
  font: "cormorant";
  font-size: 1.3rem;
}
.header .header__title--alt-color {
  color: #D9BEA5;
}
.header .header__rectangle-1 {
  width: 1.56rem;
  height: 0.06rem;
  background: #ffffff;
  margin-bottom: 0.2rem;
}
.header .header__rectangle-2 {
  width: 1.13rem;
  height: 0.06rem;
  background: #ffffff;
}
.header .header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .header__menu-alternative {
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main__game-window {
  position: relative;
}
.main .main__game-background {
  width: 22rem;
  height: auto;
  z-index: 1;
}
.main .main__game-background-container {
  display: flex;
  justify-content: center;
  z-index: 1;
}
.main .main__game-floor-container {
  display: flex;
  justify-content: center;
}
.main .main__game-floor {
  width: 22rem;
}
.main .main__character-container {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: absolute;
  bottom: 33.5%;
  left: 25%;
}
.main .main__game-character {
  width: 5rem;
  height: auto;
  z-index: 2;
  position: fixed;
  background-color: transparent;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
.main .main__obstacle-container {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: absolute;
  left: 120%;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
.main .main__obstacle-container--0 {
  bottom: 22.5%;
}
.main .main__obstacle-container--1 {
  bottom: 33.6%;
}
.main .main__obstacle-container--2 {
  bottom: 21.5%;
}
.main .main__obstacle-container--3 {
  bottom: 16.7%;
}
.main .main__obstacle-container--4 {
  bottom: 23%;
}
.main .main__obstacle-container--5 {
  bottom: 22.5%;
}
.main .main__game-obstacle {
  width: 5rem;
  height: auto;
  z-index: 2;
  position: fixed;
  background-color: transparent;
}
.main .main__obstacle-hider {
  width: 100%;
  height: 24.5rem;
  background-color: #2c2a2a;
  z-index: 3;
}
.main .main__point-counter {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: absolute;
  left: 70%;
  bottom: 90%;
  background-color: transparent;
  color: yellow;
  font-weight: bold;
  font-family: sans-serif;
}
.main .main__game-over-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(97, 171, 97);
}
.main .main__play-retry-button {
  height: 2rem;
  width: 3rem;
  background-color: rgb(67, 175, 215);
  font-family: sans-serif;
}

#animate-jump {
  -webkit-animation: jump 600ms infinite;
          animation: jump 600ms infinite;
}

#animate-obstacle {
  -webkit-animation: travel-left 1000ms infinite;
          animation: travel-left 1000ms infinite;
}

@-webkit-keyframes jump {
  0% {
    bottom: 33.5%;
  }
  30% {
    bottom: 55.5%;
  }
  70% {
    bottom: 55.5%;
  }
  100% {
    bottom: 33.5%;
  }
}

@keyframes jump {
  0% {
    bottom: 33.5%;
  }
  30% {
    bottom: 55.5%;
  }
  70% {
    bottom: 55.5%;
  }
  100% {
    bottom: 33.5%;
  }
}
@-webkit-keyframes travel-left {
  0% {
    left: 120%;
  }
  13% {
    left: 100%;
  }
  26% {
    left: 80%;
  }
  39% {
    left: 60%;
  }
  52% {
    left: 40%;
  }
  65% {
    left: 20%;
  }
  78% {
    left: 0%;
  }
  100% {
    left: -20%;
  }
}
@keyframes travel-left {
  0% {
    left: 120%;
  }
  13% {
    left: 100%;
  }
  26% {
    left: 80%;
  }
  39% {
    left: 60%;
  }
  52% {
    left: 40%;
  }
  65% {
    left: 20%;
  }
  78% {
    left: 0%;
  }
  100% {
    left: -20%;
  }
}